/*This code is to style vertical navigation bars*/
/*Turning into a panel of links*/
/*Sticking a border around the nav is the first step to good styling*/

nav {
  border: 1px solid #333;
  width: 50%;
  margin: 1rem auto;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  padding: 0.5rem 1rem;
}

nav li:hover {
  background-color: #f0c808;
}

nav a {
  color: #00bff3;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 600;
}
nav a:focus {
  background-color: #f0c808;
  color: black;
}
nav a:hover {
  color: #ff583d;
}
