/*
Five possible link states, in order:
:link -- before you've visited the site
:visited -- you've viewed the site before
:focus -- when the element is selected
:hover -- when you hover over it
:active -- after the link is clicked, before the next page loads

Remember the acronym:
Lord Vader Former Handle Anakin
or
LiVe Free HAppy
*/
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
nav a {
  color: #00bff3;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 600;
}
nav a:focus {
  background-color: #f0c808;
  color: black;
}
