body {
  font-family: "Varta", sans-serif;
  margin: 0;
  padding: 0;
}
nav {
  border-bottom: 3px solid #00bff3;
  border-top: 3px solid #00bff3;
  margin: 1rem auto;
  background-color: #eee;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
}
nav a {
  padding: 0.5rem 1rem;
  display: block;
  color: #0966c2;
  text-decoration: none;
  font-weight: 600;
}
nav a:focus {
  background-color: #f0c808;
  color: black;
}
nav a:hover {
  background-color: #f0c808;
  color: #ff583d;
}
.active {
  color: #ff583d;
  background-color: #c5e5ed;
}
